<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalProject.Properties.Settings.students_dbConnectionString"
            connectionString="Data Source=emiit.ru;Initial Catalog=students_db;Persist Security Info=True;User ID=user-50;Password=9218964503"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>